.wholeSection{
    text-align: center;
    font-family:'Franklin Gothic Medium',;
}
.questionText{
    color: yellow;
    font-size: 24px;
    letter-spacing: 1px;
}
.questionCard{
    background-color: gray;
    border-radius: 15px;
    padding: 15px;
    width: 60%;
    height: auto;
    color: white;
    margin: 0 auto;
    display: inline-block;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
ul{
    list-style-type: none;
    width: 50%;
    margin: 0 auto;
}

li{
    background-color: darkgray;
    padding: 16px;
    border: 2px solid white;
    border-radius: 20px;
    font-size: 20px;
    margin-top: 10px;
    color: #0a0a0a;
    cursor: pointer;
}
li:hover{
    border-color: #008000;
}

.nextBtn{
    float: right;
    margin-top: 12px;
    left: 74px;
    font-size: 14px;
    position: relative;
    background-color: #45fbff;
    color: #2e3536;
    border: none;
    border-radius: 5px;
    padding: 8px 13px 9px;
    letter-spacing: 1px;
    cursor: pointer;
}
.nextBtn:hover{
    color: #0b0b0b;
    transform: scale(1.1);
}
